#header{
    background-color:#E96F75;
    height:100px;
}    
#header-logo{
    position: relative;
}
#header-logo span{
    position: fixed;
    color: white;
    font-weight: bold;
    top:70px;
    left:calc(180px);
    font-size: 25px;
}
#header-logo img{
    width:150px;
}
#header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:100%;
}
#header-menu a{
    color:white;
    text-decoration: none;
}
#header-search{
    height:100%;
    margin: auto;
    padding-top:20px;
}
#header-search input{
    border: 1px white solid;
    background-color:#E96F75;
    height:40px;
    width:150px;
}
#header-search ::placeholder {
    color: white;
}
#header-search button{
    background-color: white;
    color:#E96F75;
    border: 1px white solid;
    margin-left:-5px;
    height:40px;
    padding:0 10px;
}
#header-search>div:nth-child(1){
    display: flex;
    width: 190px;
}
#header-search a{
    width:33%;
    text-align: right;
    color:white;
    text-decoration: none;
}

#cont-1{
    position: relative;
    width: 100%;
}
#cont-1>img{
    width:100%;
    object-fit: cover;
}
#cont-1>div{
    position:absolute;
    height: 70%;
    width: 70%;
    top:0px;
    left:0px;
    margin:40px 15%;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.1);
}
#cont-1-logo>img{
    width:150px;    
}
#cont-1-logo{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#cont-1-title{
    display: flex;
    justify-content: center;
    color:white;
    font-weight: 900;
}
#cont-1-content{
    display: flex;
    justify-content: center;
    color:white;
    font-size: 15px;
    font-style: italic;
    margin-top: 30px;
}
#cont-1-button{
    float: right;
    margin:30px 15%;
}
#cont-1-button button{
    background-color: white;
    color: red;
    border:none;
    font-size:15px;
    height:40px;
}

#cont-3{
    background-color: #E8ADCE;
}

.container h1{
    color: #FFFFFF;
    padding:30px 0;
} 

#cont-2{
    background-color: #E6B6DE;
    padding:30px 0;
}
#cont-2 .block{
    position: relative;
}
#cont-2 .block>span{
    position: absolute;
    color:white;
    left:0;
    font-size: 30px;
    font-weight: bold;
    margin-left:16%;
    bottom:0px;
    line-height: 40px;
    backdrop-filter: blur(20px);
    width:68%;
}

#cont-2 img{
    width:70%;
    margin-left:15%;
    object-fit:cover;
    height: 300px;
    border: 1px white solid;
}
.location{
    background-color: #D55B5B;
    color:white;
    font-size:15px;
}
.location>div:nth-child(1){
    height:300px;
    background-color: gray;
}
.location>div:nth-child(2){
    margin:auto
}
.location p{
    margin-bottom:5px;
}

.business>.container{
    background-color: #E6DAE4;
    padding-top: 20px;
}
.business .block{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}

.business .block p{
    text-align: center;
    width: 100%;
}
.business .block p{
    text-align: center;
    width: 100%;
    font-size: 12px;
}
.business .block p:nth-child(1){
    font-size: 15px;
    font-weight: 900;
}

#footer{
    background-color: #E96E74;
    padding:10px 0;
    color:white; 
    font-size: 14px;  
    line-height: 18px; 
}

.footer-icon{
    display: flex;
    justify-content:space-between;
}
#footer .container>div{
    margin:auto;
   
}
#footer .container>div{
    margin:auto;
}
#footer .row>div:nth-child(1){
    padding:0 50px;
}


#footer .contact{
    padding:0;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}

#footer .icon{
    display:flex;
    justify-content:space-between;
}


.footer-input{
    border: 1px white solid;
    background-color:#E96F75;
    height:40px;
}
.footer-input::placeholder {
    color: white;
}
.footer-button{
    background-color: white;
    color:#E96F75;
    border: 1px white solid;
    margin-left:-5px;
    height:40px;
    padding:0 10px;
}

#cont-1-button {
  animation-name: order-now;
  animation-duration: 0.1s;
  
}

@keyframes order-now {
    5%{ 
      transform: scale(0.5); 
    }
     100% { 
      transform: scale(0.5);   
    }
  }
  
  #cont-1-button:active {
    animation-name: order-now;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  } 





@media screen and (max-width:576px){
    #cont-1>img{
        min-height: 100vh;
    }
    #cont-1-title>h1{
        margin:15px;
        font-size:20px;
    }
    #cont-1-content{
        margin-left:10px;
        margin-right:10px;
    }
    #cont-1-button{
        display: flex;
        justify-content: center;
        float: none;
    }
    
    .business .bloc p{
        font-size: 9px !important;
    }
    #cont-2 .block{
       margin-bottom: 20px;
    }
    #cont-2 img{
        height:200px;
        width:100%;
        margin:0;
    }
    #cont-2 .block>span{
        width:93%;
        margin:0 3.5%;
    }
    #header>.row>div{
        width: initial;
    }
    .business>.container{
        margin-bottom:50px;
    }
}
